<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @subject.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @subject.description %>
</p>

<p>
  <strong>Image:</strong>
    <img src="<%= @subject.image %>">
</p>

<%= link_to 'Back', subjects_path %>

<%= render template: 'opinions/index' %>


