<p id="notice"><%= notice %></p>

<p>
  <h1><%= @subject.title %></h1>
</p>

<p>
  <i><%= @subject.description %></i>
</p>

<p>
    <img src="<%= @subject.image %>">
</p>


<%= render template: 'opinions/index' %>

<%= link_to 'Voltar', subjects_path %>
